* {
  margin: 0;
}

body {
  width: 100%;

}

#back {

  background-color: rgb(143,203,193);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

height: 100vh;

}

#back h1 {
  font-size: 28px;
  margin: 0;
  color: rgb(231,104,61);
text-shadow: white 0px 1px 0.5px ;


}

#game {
  width: 100%;


}

form {
display: flex;
flex-flow: column nowrap;
align-items: center;
  font-family: 'Lobster', cursive;
}

#jeu {
display: none;
flex-wrap: wrap;

  width: 100%;


}

#jeu .utilisateur {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;


}

#score {
  color: black;
  font-size: 30px;

  width: 100%;
  text-align: center;

  font-family: 'Lobster', cursive;

}

#jeu img {

  width: 15%;
  display: inline-block;
  height: 200px;
  margin: auto;
}

#myCarousel {
  width: 50%;
  margin: auto;
}




button {
  color: white;
  background-color: rgb(243,166,74);
  border: none;
  border-radius: 20px;

  font-family: 'Lobster', cursive;
  font-size: 20px;
  padding: 10px;
}

.left {
  position: relative;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-align: center;
width: auto;
margin: auto;
padding: 30Px;

}


@media (min-width : 600px) {


  #game {
    width: 60%;
  }
}

@media (min-width : 1030px) {


  #game {
    width: 40%;

  }
  #back h1 {
    font-size: 50px;
  }
  label {
    font-size: 20px;
  }
}
