* {
  margin: 0;
}

body {
  width: 100%;

}

.fond {
  background-image: url(../img/fond.jpg);
  background-size: cover;
  background-position: top;

height: 100vh;

}

#jeu {
display: none;
  position: absolute;
  top: 35%;
  width: 100%;


}

#score {
  color: black;
  font-size: 30px;
  position : absolute;
  width: 100%;
  text-align: center;
  top: 110%;
  font-family: 'Lobster', cursive;

}

#jeu img {

  width: 20%;
  display: inline-block;
  height: 200px;
  margin: auto;
}




button {
  color: blue;
  position: absolute;
  top: 50%;
  left: 42%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  padding: 10px;
}

.left {
  position: relative;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-align: center;
width: auto;
margin: auto;
padding: 30Px;

}
